# DataFrames

In [8]:
### Pacote para operações matematicas
from numpy.random import randn
import pandas as pd

In [9]:
# Gera números aleatórios

df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [10]:
df

          W         X         Y         Z
A  1.807470  1.014295  0.219789 -2.365773
B  1.353569 -0.888794  0.194982 -0.184819
C  0.690196  2.010317  1.313582 -0.791648
D -0.821683 -0.641869  0.016151 -0.654940
E -0.352104  0.431172  0.605328  0.636274

In [11]:
df["W"]

A    1.807470
B    1.353569
C    0.690196
D   -0.821683
E   -0.352104
Name: W, dtype: float64

In [13]:
type(df['W'])

pandas.core.series.Series

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df[["W"]]

          W
A  1.807470
B  1.353569
C  0.690196
D -0.821683
E -0.352104

In [16]:
df['new'] = df["W"]

In [17]:
df

          W         X         Y         Z       new
A  1.807470  1.014295  0.219789 -2.365773  1.807470
B  1.353569 -0.888794  0.194982 -0.184819  1.353569
C  0.690196  2.010317  1.313582 -0.791648  0.690196
D -0.821683 -0.641869  0.016151 -0.654940 -0.821683
E -0.352104  0.431172  0.605328  0.636274 -0.352104

In [18]:
df['new'] = df["W"] + df["X"]

In [19]:
df

          W         X         Y         Z       new
A  1.807470  1.014295  0.219789 -2.365773  2.821766
B  1.353569 -0.888794  0.194982 -0.184819  0.464775
C  0.690196  2.010317  1.313582 -0.791648  2.700513
D -0.821683 -0.641869  0.016151 -0.654940 -1.463551
E -0.352104  0.431172  0.605328  0.636274  0.079068

In [20]:
del df["new"]

In [21]:
df['new'] = df["W"] + df["X"]

Nesse caso de drop, ele irá manipular uma cópia, até porque exibindo o df de novo, ele irá retornar o mesmo dataframe acima

In [22]:
df.drop('new', axis=1)

          W         X         Y         Z
A  1.807470  1.014295  0.219789 -2.365773
B  1.353569 -0.888794  0.194982 -0.184819
C  0.690196  2.010317  1.313582 -0.791648
D -0.821683 -0.641869  0.016151 -0.654940
E -0.352104  0.431172  0.605328  0.636274

In [23]:
df

          W         X         Y         Z       new
A  1.807470  1.014295  0.219789 -2.365773  2.821766
B  1.353569 -0.888794  0.194982 -0.184819  0.464775
C  0.690196  2.010317  1.313582 -0.791648  2.700513
D -0.821683 -0.641869  0.016151 -0.654940 -1.463551
E -0.352104  0.431172  0.605328  0.636274  0.079068

In [25]:
df.drop('new', axis=1, inplace=True)

In [26]:
df.loc['A']

W    1.807470
X    1.014295
Y    0.219789
Z   -2.365773
Name: A, dtype: float64

In [27]:
df.iloc[0, 2]

0.21978884987752378