# Hierarquia de índices e índices múltiplos

In [2]:
# Níveis de índice

outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1,2,3,1,2,3]

hier_index = list(zip(outside, inside))

In [3]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
import pandas as pd
import numpy as np

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(data=np.random.randn(6,2), index=hier_index, columns=["A", "B"])
df

             A         B
G1 1  0.454533  0.995021
   2 -0.539685 -0.904799
   3  0.273049  0.855753
G2 1 -0.895360 -0.089406
   2  0.365796  1.640746
   3 -0.113380 -0.253995

In [9]:
df.loc["G1"]

          A         B
1  0.454533  0.995021
2 -0.539685 -0.904799
3  0.273049  0.855753

In [10]:
df.loc["G1"].loc[1]

A    0.454533
B    0.995021
Name: 1, dtype: float64

In [11]:
df.index.names = ["Grupo", "Número"]

In [12]:
df

                     A         B
Grupo Número
G1    1       0.454533  0.995021
      2      -0.539685 -0.904799
      3       0.273049  0.855753
G2    1      -0.895360 -0.089406
      2       0.365796  1.640746
      3      -0.113380 -0.253995

In [13]:
df.xs(1, level="Número")
df

                     A         B
Grupo Número
G1    1       0.454533  0.995021
      2      -0.539685 -0.904799
      3       0.273049  0.855753
G2    1      -0.895360 -0.089406
      2       0.365796  1.640746
      3      -0.113380 -0.253995

In [14]:
df.xs(1, level="Número")

              A         B
Grupo
G1     0.454533  0.995021
G2    -0.895360 -0.089406