# Iloc e Loc

In [2]:
import pandas as pd
from numpy.random import randn

In [10]:
df = pd.DataFrame(data=randn(5, 4), index=["A", "B","C","D","E"], columns="W Y X Z".split())

In [11]:
df

          W         Y         X         Z
A  0.282289 -0.805877 -2.838745  1.585361
B  0.869843 -1.247828 -0.239464 -0.753743
C -0.947088  0.286716 -1.051970 -1.362059
D -2.186365  0.882408 -0.926164 -0.671453
E -0.110449  1.125849 -1.828748 -1.024829

In [13]:
df.loc[['A','B']]

          W         Y         X         Z
A  0.282289 -0.805877 -2.838745  1.585361
B  0.869843 -1.247828 -0.239464 -0.753743

In [15]:
df.loc[['A','B'], ['W']]

          W
A  0.282289
B  0.869843

In [16]:
df.iloc[0,2]

-2.8387447253145375

In [17]:
df.iloc[:-1, 1:]

          Y         X         Z
A -0.805877 -2.838745  1.585361
B -1.247828 -0.239464 -0.753743
C  0.286716 -1.051970 -1.362059
D  0.882408 -0.926164 -0.671453

In [18]:
df.iloc[3:-1, 1:4]

          Y         X         Z
D  0.882408 -0.926164 -0.671453

In [19]:
df > 0

       W      Y      X      Z
A   True  False  False   True
B   True  False  False  False
C  False   True  False  False
D  False   True  False  False
E  False   True  False  False

In [20]:
df['Z'] > 0

A     True
B    False
C    False
D    False
E    False
Name: Z, dtype: bool

In [22]:
df[df['Y'] >0]

          W         Y         X         Z
C -0.947088  0.286716 -1.051970 -1.362059
D -2.186365  0.882408 -0.926164 -0.671453
E -0.110449  1.125849 -1.828748 -1.024829